<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Profesionales</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                            <th>Fecha de Registro</th>
                            <th>Estatus</th>
                        </tr>
                    </thead>

                    <tbody>
               
                        @if (DataEntradas$ | async; as resultObject) {

                                @for (item of resultObject; track item.id) {
                                    <tr >
                                        <td>{{item.nombrecliente}}</td>
                                        <td>{{item.email_cliente}}</td>
                                        <td>{{item.password}}</td>
                                        <td>{{item.fecha}}</td>
                                        <td>{{item.status}}</td>
                                    </tr>
                                }
            
                        }@else {
                       
                            <div class="position-absolute top-50 start-50">
                               Cargando...
                            </div>
            
                         }

                      
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->