<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">¡Crea tu cuenta!</h1>
                        </div>
                        @if (DataAgencias$ | async; as resultObject) {
                        <form class="user">
                            <!--pre>{{ProfacionalObj | json}}</pre-->
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label>Selecciona una opción</label>
                                    <select class="form-control" [(ngModel)]="opcionSelect" name="opcionSelect"
                                        id="opcionSelect">
                                        <option style="font-size: small;" value="Agencia">Agencia</option>
                                        <option style="font-size: small;" value="Codigo">Codigo</option>
                                    </select>
                                </div>
                            </div>

                            @if(opcionSelect=='Agencia'){
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label for="ProfacionalObj">Selecciona la Agencia</label>
                                    <select class="form-control" [(ngModel)]="ProfacionalObj.idagencia" name="idagencia"
                                        id="idagencia">
                                        @for (item of resultObject; track item.idclientes) {
                                        <option style="font-size: small;" value={{item.idclientes}}>
                                            {{item.pais}}, {{item.estado}}, {{item.direccion}}
                                        </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            }
                            @if(opcionSelect=='Codigo'){
                            <div class="form-group row">
                                <!--pre>{{existeEmpresa | json}}</pre-->
                                <div class="col-sm-6 mb-6 mb-sm-0">
                                    <input type="number" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="Ingresa el Código" [(ngModel)]="ProfacionalObj.idagencia"
                                        name="idagencia">
                                </div>
                                <div class="col-sm-6 mb-6 mb-sm-0">
                                    <button (click)="validar()" class="btn btn-primary btn-user btn-block"
                                        [disabled]="disabled">
                                        Validar
                                    </button>
                                </div>

                            </div>
                            }
                            @if(existeEmpresa!=null){

                            <table class="table table-striped alert alert-primary">
                                <thead>
                                    <tr class="alert alert-primary" role="alert">
                                        <th scope="col">Código</th>
                                        <th scope="col">Empresa</th>
                                        <th scope="col">Pais</th>
                                        <th scope="col">Dirección</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="alert alert-primary" role="alert">
                                        <th scope="row">{{existeEmpresa.idclientes}}</th>
                                        <td>{{existeEmpresa.razon_social}}</td>
                                        <td>{{existeEmpresa.pais}}</td>
                                        <td>{{existeEmpresa.direccion}}</td>
                                    </tr>
                                    <tr class="alert alert-primary" role="alert">
                                        <th colspan="4" scope="row">Valida que la empresa sea la correcta y complementa
                                            tu la informacón</th>
                                    </tr>
                                </tbody>
                            </table>

                            }

                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="Nombre Completo" [(ngModel)]="ProfacionalObj.nombrecliente"
                                        name="nombrecliente">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Email" [(ngModel)]="ProfacionalObj.emailcliente" name="emailcliente">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Contraseña"
                                        [(ngModel)]="ProfacionalObj.password" name="password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleRepeatPassword" placeholder="Repite la Contraseña"
                                        [(ngModel)]="password" name="password">
                                </div>
                            </div>
                            @if (smg) {
                            <div class="alert alert-success">
                                {{text}}, recibiras un email para activar tu cuenta, ve a tu correo!
                            </div>
                            }
                            <button (click)="save()" class="btn btn-primary btn-user btn-block" [disabled]="disabled">
                                {{disabled?'Registrando...':'Crear'}}
                            </button>
                        </form>
                        }@else {
                        <div class="text-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden"></span>
                            </div>
                        </div>
                        }
                        <!--pre>Form value: {{ ProfacionalObj | json }}</pre-->
                        <hr>
                        <div class="text-center">
                            <a class="small" routerLink="/forgot-password" routerLinkActive="active">Olvidaste tu
                                contraseña?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" routerLink="/login" routerLinkActive="active">Ya tienes cuenta? clic para
                                ingresar!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>