<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Crear tu cuenta!</h1>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label for="ProfacionalObj">Selecciona la Agencia</label>
                                    @if (DataAgencias$ | async; as resultObject) {
                                    <select class="form-control" [(ngModel)]="ProfacionalObj.idagencia" name="idagencia"
                                        id="idagencia">
                                        @for (item of resultObject; track item.idclientes) {
                                        <option value={{item.idclientes}}>
                                            {{item.pais}}-{{item.estado}}-{{item.direccion}}</option>
                                        }
                                    </select>
                                    }@else {
                                    <div class="position-absolute top-50 start-50">
                                        Cargando...
                                    </div>
                                    }

                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                        placeholder="Nombre Completo" [(ngModel)]="ProfacionalObj.nombrecliente"
                                        name="nombrecliente">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Email" [(ngModel)]="ProfacionalObj.emailcliente" name="emailcliente">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Contraseña"
                                        [(ngModel)]="ProfacionalObj.password" name="password">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                        id="exampleRepeatPassword" placeholder="Repite la Contraseña"
                                        [(ngModel)]="password" name="password">
                                </div>
                            </div>
                            @if (smg) {
                            <div class="alert alert-success">
                                {{text}}, recibiras un email para activar tu cuenta, ve a tu correo!
                            </div>
                            }
                            <a (click)="save()" class="btn btn-primary btn-user btn-block">
                                Crear!
                            </a>
                        </form>
                        <!--pre>Form value: {{ ProfacionalObj | json }}</pre-->
                        <hr>
                        <div class="text-center">
                            <a class="small" href="./forgot-password">Olvidaste tu contraseña?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="./login">Ya tienes cuenta? clic para ingresar!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>