<td scope="row">{{solicitud.nombreprofesional}}</td>
<td>
    @if (solicitud.nocertificado == null) {
    <input type="text" class="form-control" [(ngModel)]="nocer" name="nocer">
    }@else{
    {{solicitud.nocertificado}}
    }
</td>
<td>
    @if (solicitud.nocertificado == null) {
    <input type="date" class="form-control" [(ngModel)]="fechacer" name="fechacer">
    }@else{
    {{solicitud.fecha}}
    }
</td>
<td>{{solicitud.nombrecurso}}</td>
<td>${{solicitud.costo}}</td>
<td>{{solicitud.estatus=='C'?'Certificado':'Registrado'}}</td>
<td>{{solicitud.nombreagencia}}</td>
<td>{{solicitud.id_pay}}</td>
<td>
    @if(solicitud.status_pay!=null){
    <div class="card mb-1 py-1 border-bottom-success">
        {{solicitud.status_pay}}
    </div>
    }@else{
    <div class="card mb-1 py-1 border-bottom-warning">PENDING</div>
    }
</td>
<td>
    @if (solicitud.nocertificado == null && solicitud.status_pay=='COMPLETED') {
    <a class="btn btn-info btn-circle btn-sm" (click)="save()">
        <i class="fas fa-save"></i>
    </a>
    }
</td>