<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-2 small" placeholder="Buscar por nombre" aria-label="Search"
                    aria-describedby="basic-addon2" [(ngModel)]="buscar" name="buscar">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="buscarLista()">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                    <button class="btn btn-info" type="button" (click)="buscarTodos()">
                        Todos
                    </button>
                </div>
            </div>
        </form>       
    </div>
    <!-- Page Heading -->
    <div class="row anyClass">
        <div class="col-lg-12">
            @if (DataHistorial$ | async; as resultObject) {
                <!--pre>{{ resultObject | json}}</pre-->
            <div class="card shadow mb-12">
                <div class="card-header">
                    <h6 class="h3 mb-0 text-gray-800">Solicitudes</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No. Solicitud</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">No. Certificación</th>
                                    <th scope="col">Fecha de Certificación</th>
                                    <th scope="col">Curso</th>
                                    <th scope="col">Costo</th>
                                    <th scope="col">Estatus</th>
                                    <th scope="col">Id Pago</th>
                                    <th scope="col">Estatus de Pago</th>                                   
                                    <th scope="col">Acción de Pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (solicitud of resultObject; track solicitud.id) {
                                <tr [solicitud]='solicitud'> </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            }@else {
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            }
        </div>
    </div>
</div>
<!-- /.container-fluid -->