<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Información General</h1>
    </div>
    <div class="row">

        <div class="col-lg-12">
            @if (DataHistorial$ | async; as resultObject) {
            <div class="card shadow mb-12">
                <div class="card-header">
                    <h3>Bienveniedo: {{resultObject.nombrecliente}}</h3>
                </div>
                <div class="card-header">
                    <h6><b>Agencia:</b> {{resultObject.agencia.razon_social}}</h6>
                    <b>Dirección:</b> {{resultObject.agencia.direccion}}<br>
                    <b>Telefono:</b> {{resultObject.agencia.telefono}}<br>
                    <b>Pais:</b> {{resultObject.agencia.pais}}<br>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" width="100%">
                            <thead>
                                <tr>
                                    <th>Tus Cursos</th>
                                    <th>No Certificado</th>
                                    <th>Fecha Certificado</th>
                                    <th>Estatus</th>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Registrado</th>
                                    <th>Estatus de Pago</th>
                                    <th>Importe</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of resultObject.cursos; track item.nocertificado) {
                                <tr>
                                    <td>{{item.curso}}</td>
                                    <td>{{item.nocertificado == null?'pendiente': item.nocertificado}}</td>
                                    <td>{{item.fecha == null?'pendiente': item.fecha}}</td>
                                    <td>{{item.estatus}}</td>
                                    <td>{{item.codigo}}</td>
                                    <td>{{item.descripcion}}</td>
                                    <td>{{item.fecha_registro}}</td>
                                    <td>{{item.status_pay}} </td>
                                    <td>${{item.total_pay}} </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            }@else {
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            }
        </div>
    </div>
</div>
<!-- /.container-fluid -->