<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Información General</h1>
    </div>
    <div class="row">

        <div class="col-lg-8">
            @if (DataHistorial$ | async; as resultObject) {
            <div class="card shadow mb-6">
                <div class="card-header">
                    <h3>Bienveniedo: {{resultObject.nombrecliente}}</h3>
                </div>
                <div class="card-header">
                    <h6><b>Agencia:</b> {{resultObject.agencia.razon_social}}</h6>
                    <b>Dirección:</b> {{resultObject.agencia.direccion}}<br>
                    <b>Telefono:</b> {{resultObject.agencia.telefono}}<br>
                    <b>Pais:</b> {{resultObject.agencia.pais}}<br>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" width="100%" >
                            <thead>
                                <tr>
                                    <th>Tus Cursos</th>
                                    <th>No Certificado</th>
                                    <th>Fecha</th>
                                    <th>Estatus</th>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of resultObject.cursos; track item.nocertificado) {
                                <tr>
                                    <td>{{item.curso}}</td>
                                    <td>{{item.nocertificado}}</td>
                                    <td>{{item.fecha}}</td>
                                    <td>{{item.estatus}}</td>
                                    <td>{{item.codigo}}</td>
                                    <td>{{item.descripcion}}</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            }@else {

            <div class="position-absolute top-50 start-50">
                Cargando...
            </div>

            }
        </div>

        <div class="col-lg-4">

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-2">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Dropdown Card Example</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    Dropdown menus can be placed in the card header in order to extend the functionality
                    of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis
                    icon in the card header can be clicked on in order to toggle a dropdown menu.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->